html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Hind Siliguri', sans-serif;
    background-color: rgb(10, 25, 47);

}
section{
    max-width: 80vw;
	width: 100%;
	margin: 0 auto;
	padding: 0px 15px;
    transition: transform 0.25s;
	will-change: transform;
}
h1{
    font-size: 50px;
    font-family:'Hind Siliguri';
}
p{
    font-size: 24px;
    line-height: 50px;
}



.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 70px;
    z-index: 1;
    a{
        padding-left: 15px;
        color: rgb(204, 214, 246);
        text-decoration: none;
        &:hover{
            color: rgb(100, 255, 218);
            transition: ease-in 0.4s;
        }
    }
    .logo {
        flex: 1 1 auto;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 20px;
        padding: 5px 0 0 2vw;
        a{
            color: rgb(204, 214, 246);
            text-decoration: none;
            &:hover{
                color: rgb(100, 255, 218);
                transition: ease-in 0.4s;
            }
        }
    }
}
.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 2vw;
    font-family: 'Space Mono', monospace;
    font-size: 13px;
    li{
        margin-left: auto;
    }
}

img{
    width: 20%;
}


.nav-link{
    text-transform: uppercase;
}

.company-name{
    color: rgb(100, 255, 218);
    text-decoration: none;
    &:hover{
        color: rgb(204, 214, 246);
        transition: ease-in 0.4s;
    }
}

.home-area,.about-area, .experience-area, .work-area, .contact-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background-color: rgb(10, 25, 47);
    color: rgb(204, 214, 246);
}

.menu-number{
    color: rgb(100, 255, 218);
}

.resume-button{
    padding: 6px 5px;
    margin-top: -6px;
}
.salutation{
    color: rgb(100, 255, 218);
    font-family: 'Space Mono', monospace;
    font-size: 16px;
}

.name{
    font-size: 60px;
    font-weight: bold;
}

.description-header{
    font-size: 60px;
    color: rgb(136, 146, 176);
    font-weight: bold;
    margin-top: -30px;

}

.description-body{
    font-size: 20px;
    color: rgb(136, 146, 176);
}

.footer{
    margin:0 auto;
    font-family: 'Space Mono', monospace;
    color: rgb(100, 255, 218);
}

.un {
    display: inline-block;
  }
  
  .un::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: rgb(100, 255, 218);
    transition: 150ms;
  }
  
  .un:hover::after {
    width: 100%;
  }